<style>
   .button {
      background-color: #3396C9;
      color: white;
      padding-bottom: 3px;
      padding-top: 4px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 14px;
      cursor: pointer;
    }
    /*.pull-left {
        color:white;
        font-family: 'Soleto',sans-serif;
        display: inline-block;
        color: #cdcdcd;
        font-weight: bold;
        font-size: 1.0em;
        line-height: 20px;
        padding-top: 3px;
        margin-top: 2px;
    }*/
    .row {
        margin-left:0px;
        margin-right:0px;
    }
  .widget-content {
        border-radius: 0.3em;
    }

    #custom-search-input{
    border-radius: 4px;
    background-color: #fff;
    width:300px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

.form-control {
padding: 0 0 0 0;
height: 30px;
}
#custom-search-input button{

    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}
.btn {
font-size: 15px;
background-color:black;
border-color:white;
}
</style>

<body>
    <div>
        <div><h2 class="pull-left brand_style">Probe Dashboard</h2></div>
        <div>
            <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.check()" style="float: right;margin-top:6px;">Submit</button>
            <input value="{{$ctrl.first}} to {{$ctrl.last}}" id="select" size="19" style="float: right;color:#0a0909;margin:6px;">
        </div>
        </div>
    <div class="row">
            <div class="widget col-md-12 col-xs-12 all" >
                <div class="widget-content">


    <div class="widget-title clearfix"
         title="Sample Widg">
      <span class="pull-left">Productivity Chart</span>
    </div>

                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions"></highcharts>
                    </div>
                </div>
            </div>
            <!--<div class="widget col-md-6 col-xs-12 all" >
                <div class="widget-content">

                    <div class="widget-title clearfix"
                         title="Sample Widg">
                        <span class="pull-left">Workpacket Wise Performance</span>
                    </div>

                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions2"></highcharts>
                    </div>
                </div>
            </div>-->
        </div>
    <div class="row">
            <div class="widget col-md-3 col-xs-6 all"  >

                <div class="widget-content">

                    <div class="widget-title clearfix"
                         title="Sample Widg">
                        <span class="pull-left">Packetwise internal error count</span>
                    </div>

                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions5"></highcharts>
                    </div>
                </div>
            </div>
            <div class="widget col-md-3 col-xs-6 all"  >

                <div class="widget-content">

                    <div class="widget-title clearfix"
                         title="Sample Widg">
                        <span class="pull-left">Packetwise external error count</span>
                    </div>

                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions5_2"></highcharts>
                    </div>
                </div>
            </div>
            <div class="widget col-md-6 col-xs-12 all"  >

                <div class="widget-content">

                    <div class="widget-title clearfix"
                         title="Sample Widg">
                        <span class="pull-left">Internal Error Accuracy Graph</span>
                    </div>

                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions4"></highcharts>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="widget col-md-6 col-xs-12 all"  >
                <div class="widget-content">
                    <div class="widget-title clearfix"
                         title="Sample Widg">
                        <span class="pull-left">External Error Accuracy Graph</span>
                    </div>
                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions6"></highcharts>
                    </div>
                </div>
        </div>
        <div class="widget col-md-6 col-xs-12 all"  >

                <div class="widget-content">

                    <div class="widget-title clearfix"
                         title="Sample Widg">
                        <span class="pull-left">Workpacket Wise Performance</span>
                    </div>

                    <div class="widget-body">
                        <highcharts options="$ctrl.chartOptions3"></highcharts>
                    </div>
                </div>
            </div>
    </div>
<!--</div>-->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">PRODUCTIVITY CHART</h4>
         </div>
         <div class="modal-body">
             <!--<p>hey{{$ctrl.names}}</p>-->
                 <table style="color:white; padding:5px;border:1px solid white;" border = 1px solid white; >
                 <tr ng-repeat= "x in $ctrl.names">

                    <td style="padding:5px;" >{{x.emp}}</td>
                     <td style="padding:5px;" >{{x.packet_value}}</td>

                 </tr>
             </table>
           <!--<h1 id="hello" style="color:black;">Hello Hello</h1>
           <p id="temp" style="color:black;"></p>-->
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
    </div>
  </div>

<div class="modal fade" id="workpacket_per" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title" >WORKPACKET WISE PERFORMANCE</h4>
         </div>
         <div class="modal-body">
           <h1 id="wpp_hello" style="color:black;">Hello Hello</h1>
           <p id="wpp_temp" style="color:black;"></p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
    </div>
  </div>


<div class="modal fade" id="percent_graph" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title" >Internal Accuracy</h4>
         </div>
         <div class="modal-body">
           <h1 id="perc_hello" >Hello Hello</h1>
           <p id="perc_temp" ></p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
    </div>
  </div>


<div class="modal fade" id="pwe_myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title" >Workpacket Wise Performance</h4>
         </div>
         <div class="modal-body">
           <h1 id="pwe_hello" >Hello Hello</h1>
           <p id="pwe_temp" ></p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
    </div>
  </div>

</body>
<script>
   configObject = {
       autoClose: true,
       }
   $('#select').dateRangePicker(configObject);
</script>
