<style>
::-webkit-scrollbar-thumb {
      background:#4c4c4c;
}
::-webkit-scrollbar {
      width: 8px;
}
   .button {
      background-color: #3396C9;
      color: white;
      padding-bottom: 3px;
      padding-top: 4px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 14px;
      cursor: pointer;
    }

    .row {
        margin-left:0px;
        margin-right:0px;
    }

    .widget-content {
        border-radius: 0.3em;
    }


/* .btn {
   font-size: 15px;
   background-color:black;
   border-color:white;
} */

.widget-title span {
    color: white;
}

table {

    margin : 0 auto;
    border: 1 px solid #323232;
 }

.date {
     float: right;
     font-size: 28px;
     padding-top: 5px;
     cursor: pointer;
}
.select {

      float: right;
      color:#0a0909;
      margin:6px;
      cursor:pointer;
}
.form-control {
    width: initial;
    height: 30px;
}


.pos {

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
 }
#wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
}
#inner1{
    float:right;
}
#inner2{
    float:right;
    clear:right;
    margin-right: 5px;
    margin-top:-17px;
}
.graph {
   /* border: 1px solid #3c3c3c;*/
    border-radius:0.3em;
    background-color:#2a2a2a;
    margin: 5px;
    padding-right: 10px;
}
.table-bordered>tbody>tr>td {
    border : none;
}

.table>tbody>tr>td {
    border-top: none;
}
.table-bordered>tfoot>tr>th {
    border : none;
}
.table-bordered>thead>tr>td {
    border : none;
}
.table-bordered>thead>tr>th {
    border : none;
}
/*.line {
   border:1px solid #3c3c3c;
   margin-left:-2px;
   margin-bottom:12px;
}*/
.row_name {
   font-size: 15px;
   margin-right: 0px;
   background-color: #373737;
   color: #dadada;
}
.line {
   border:1px solid #3c3c3c;
   /*margin-left:-2px;*/
   margin-bottom:12px;
   margin-left: auto;
   margin-right: auto;
}
.btn-default:focus {
     background-color: #555D50;
     color: white;
     border-color: #555D50;
}
</style>
<body>
    <div class="row">
    <div id="wrapper">
        <div><h3 class="pull-left brand_style">{{$ctrl.project}}Dashboard</h3></div>
             <div id="inner1" class="form-group" style="margin-bottom:initial;">
                 <input class="form-control select" value="{{$ctrl.first}} to {{$ctrl.last}}" id="select" size="19">
                 <i ng-click="$ctrl.click()"class="fa fa-calendar date" aria-hidden="true"></i>
             </div>
             <div ng-repeat="k in $ctrl.packet_hierarchy_list track by $index">
                <form>
                    <div class="form-group" style="float:left;padding-left:1%;padding-top:5px;margin-bottom:0px;">
                        <select class="form-control input-sm" id="{{$index}}">
                            <option>All</option>
                        </select>
                    </div>
                </form>
             </div>
        </div>

    </div>
    <div class="row" ng-repeat="i in $ctrl.useful_layout">
        <div ng-repeat="j in i" class="col-sm-{{j.col}} widget">
            <div class="widget-content">
                <div class="widget-title clearfix" title="Sample Widg">
                    <span class="pull-left">{{j.title}}</span>
                </div>
                <div class="widget-body">
                    <div ng-if="j.widget == '1' "class="input-group"id="inner2">
                         <div class="btn-group">
                            <button type="button" id="day" class="btn btn-default" ng-click="$ctrl.dateType('day',j.opt)" style="cursor:pointer;">Day</button>
                            <button type="button" id="week"class="btn btn-default" ng-click="$ctrl.dateType('week',j.opt)" style="cursor:pointer;">Week</button>
                            <button type="button" id="Month"class="btn btn-default" ng-click="$ctrl.dateType('month',j.opt)" style="cursor:pointer;">Month</button>
                    </div>
                </div>
                    <highcharts options="j.opt"></highcharts>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 graph">
                <div class="widget-title clearfix" title="Sample Widg">
                    <h4>Employee Performance Details</h4>
                </div>

        <!--<h2>Top 5 Employee Performance</h2>-->
                <table class="table table-bordered line">
                        <thead>
                            <tr class="row_name">
                                <th>Employee Name</th>
                                <th>Productivity</th>
                                <th>Packet</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in $ctrl.top_employee_details">
                                <td>{{l.employee_id}}</td>
                                <td>{{l.productivity}}</td>
                                <td>{{l.work_packet}}</td>
                                <td>{{l.date}}</td>
                            </tr>
                        </tbody>
                </table>
        </div>
    </div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">{{$ctrl.chart_type}}</h4>

         </div>
         <div class="modal-body">
            <div class="row" style="margin-right:16px;">
                <div class="">
                     <table style="border:1px solid #3c3c3c;">
                          <thead style="display:block;">
                              <tr class="row_name">
                                  <th ng-repeat="i in $ctrl.fields_list_drilldown" style="width:120px;padding:5px;text-align:center;">{{i}}</th>
                              </tr>
                          </thead>
                          <tbody style="max-height:150px;overflow-y:auto;display:block;">
                             <tr ng-repeat= "x in $ctrl.names">
                                 <td ng-repeat="i in $ctrl.fields_list_drilldown" style="width:120px;padding:5px;text-align:center;">{{x[i]}}</td>
                             </tr>
                          </tbody>
                      </table>
                </div>
            </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
    </div>
  </div>
</body>
<script>
   configObject = {
       autoClose: true,
       }
   $('#select').dateRangePicker(configObject);
</script>
