<style>

@media (min-width : 768px) {
     .navbar-fixed-top {

          height: 50px;

     }
 }

@media (max-width: 320px) {
    .upload {
        margin-left : -6px !important;
        margin-right: -6px !important;
        margin-bottom: -6px !important;
        margin-top: -3px !important;
    }   
    .navbar-brand {
        font-size : 1em !important;
        font-weight: 100 !important;
    }   
    a.color-out {
        font-size: 2px;
        margin-left: -12px !important;
        margin-right: 4px !important;
        padding: 0px !important;
    }   
        span {
            margin-right: -11px;
            font-size: 11px !important;
        }   
        .name {
            font-size: 13px !important;
            margin-right: 3px !important;
        }   
    }   
}

.ajax-file-upload {

    background: white !important;
    color: black !important;
    border: none;
}

 .navbar-collapse.in {

     overflow-y: inherit;
 }

 .navbar-collapse {

     overflow-x: hidden;
}

.navbar-toggle {

     margin-right: 2px;
}

.navbar-default .navbar-toggle {

     border-color: black;
     background-color: black;
}

.navbar-default .navbar-toggle:hover {

    background-color: black;
}    

.name {
    font-size:22px;
    margin-right: 3px;
 }
 .admin {
    padding:5px; 
    margin-top:10px;
    margin-right:-5px;
    background:black;
    border-color:white;
    color:white;
}
.upload {
    cursor: pointer;
}

img {
    width: 27%;
    margin-left: -3%;
    margin-top: -14px;
 }
.position {
    position: fixed;
    margin-top: 0px;
    box-shadow: none !important;
}
dashboard div.dashboard-content {
    margin-top: 79px;
}

</style>

<nav class="navbar navbar-default navbar-fixed-top position">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <!--<a class="navbar-brand" style="font-size:2.0em;margin-left:-15px;font-weight:bold;color:black;">NextPulse </a>-->
          <img src="/img/nextwealth.png" alt="Nexwealth_Logo" style="float:left;">
          <a class="navbar-brand" style="font-size:2.0em;margin-left:-2%;font-weight:100;color:#555;">NextPulse </a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <div class="data">
              <ul class="nav nav-tabs" style="border-bottom: none;">
                  <li><a href="" id="Abt" style="margin-left:115px;">About</a></li>
                  <li><a href="" id="Ser">Services</a></li>
                  <li><a href="" id="Wid">Features</a></li>
                  <li><a href="" id="Proj" class="active">Customers</a></li>
              </ul>
            </div> 
            <ul class="nav navbar-nav navbar-right" style="margin-top:-50px;">
                <div class=""style="font-size:1.2em;padding-right:10px;">
                    <ul class="nav navbar-nav pull-right">
                    <li>
                        <div class="dropdown" id="select_dropdown">
                            <ul class="nav nav-pills left">
                               <li class="dropdown active span8">
                                  <a class="dropdown-toggle" id="inp_impact" data-toggle="dropdown" style="color:black;">
                                      <!--<span id="dropdown_title">{{$ctrl.select_option}}</span><span class="caret"></span>-->
                                      <span id="dropdown_title"></span><span class="caret"></span>
                                  </a>
                                   <ul ID="divNewNotifications" class="dropdown-menu">
                                       <li >
                                           <a href="" ng-repeat="item in $ctrl.mapping_list" ng-click="$ctrl.clickFun(item)">{{item}}</a>
                                       </li>

                                   </ul>
                               </li>
                            </ul>
                       </div>
                        <li>
                            <div>
                                <a href="http://dashboards.nextwealth.in:8188/admin" class="btn btn-info" id="admin_but" style="padding:5px;margin-top:10px;margin-right:-5px;color:black;border-color:white;background-color:white;" role="button" target="_blank">Admin</a>
                            </div>
                        </li>
                        <li>
                            <div id="fileupload" class="upload">
                                <span>Upload</span>
                            </div>
                        </li>

              <li class="dropdown user">
                  <a href="" class="dropdown-toggle color-out" data-toggle="dropdown" style="padding:0px;margin-left:10px;">
                      <b><span style="float:right;margin-right:-18px;"><i class="fa fa-user name"></i>{{ $ctrl.user.userName }} <i class="fa fa-angle-down"></i></span></b>
                      <br>
                      <span style="font-size:15px;">{{ $ctrl.user.role }}</span>
                  </a>

                  <ul class="dropdown-menu sym-log" style="text-align:left;padding-top:0px;padding-bottom:0px;padding-left:10px;">
                      <li><logout></logout></li>
                  </ul>
              </li>
                  </ul>
              </div>
          </ul>
        </div>     <!--/.nav-collapse -->

</nav>

<script>
    $(function () {
       $("#fileupload").uploadFile({
          url:"/api/upload/",
          fileName:"myfile",
          dragDrop: false,
          onSuccess:function(files,data,xhr,pd){
             var file_name = files[0];
             var str_to_display = "You Trying to Upload a Wrong File.Please upload a correct a file";
             console.log(data.result);
            
             if (data.result == 'Duplicate Sheet'){
                     alert('Duplicate Sheet');
                 } 

             else{
                 console.log("in upload refresh");
                 location.reload();
             }
             $('.ajax-file-upload-statusbar').hide();
          },
       });
    });

    $('.dropdown-toggle').dropdown();
    $('#divNewNotifications li').on('click', function() {
       $('#dropdown_title').html($(".brand_style").text().replace(" - Dashboard",''));
    });

</script>
