<style>
body {
    background-color: #ffffff;
    color: #000000;
 }
img {
    width:53%;
    margin-bottom:-2%;
    margin-left: 20%;
 }
 .form-group {
    margin-left: 14%;
    width:70%;
 }
 label {
    margin-left: 31%;
 }
 .btn-primary {
    margin-left: 33%;
 }
 .field-error {
    margin-left: 31%;
 }
 .row {
    /*background: #61B329;*/
    padding: 10px 10px;
    margin-top: -3%;
    color: #fff;
    text-align: center;
    margin-left: -21%;
 }
 p {
    margin: 10px;
 }

 .volume {
    background: #61B329;
    color: white;
    padding: 3px;
    text-align: center;
 }
 .card {
    background: white;
    margin-top: -10px;
    border: solid 1px #61B329;
    height: 340px;
 }
 h4 {
    margin-left: -4px;
 }
</style>
<div class="login-form-container" style="background-image: url(/img/services_banner.png);background-size: cover; width: 100%; height: 100%;">
  <div class="col-md-4 col-sm-4 col-xs-10">
  <form method="POST" name="userForm"
        ng-submit="$ctrl.onSubmit($ctrl.credentials)"
        novalidate
        ng-class="{error: $ctrl.errorMsg}" style="margin-top: -18px;">

    <div class="logo-container">
      <img src="/img/nextwealth.png" alt="Nexwealth_Logo">
    </div>

    <div class="form-group error-msg">
      <span >{{$ctrl.errorMsg}}</span>
    </div>

    <div class="form-group" >
      <label>USERNAME</label>
      <input type="text" name="uName" ng-model="$ctrl.credentials.username"
             class="form-control " required />
      <span class="field-error"
            ng-show="userForm.uName.$touched">
        <span ng-show="userForm.uName.$error.required">Username is required.</span>
      </span>
    </div>

    <div class="form-group">
      <label>PASSWORD</label>
      <input type="password" name="uPassword"
             ng-model="$ctrl.credentials.password"
             class="form-control" required />
      <span class="field-error" ng-show="userForm.uPassword.$touched">
        <span ng-show="userForm.uPassword.$error.required">Password is required</span>
      </span>
    </div>

    <div class="form-group">
      <input type="submit"
             ng-disabled="userForm.uName.$error.required || userForm.uPassword.$error.required || $ctrl.viewSubmit"
             class="btn btn-primary"
             value="{{$ctrl.loadingText}}"/>
    </div>
  </form>
 </div>

  <div class="col-md-4 col-sm-4 col-xs-10">
    <!--<div class="card">
      <div class="listview lv-bordered lv-lg">
        <div class="clearfix lv-header-alt">-->
        <div class="volume">
          <h4>About US</h4>
        </div>
        <div class="card">
          <p>NextWealth provides
            <strong> Digital Business Processes Management</strong>
            services to companies that embrace digital technologies. One of the outcomes of digital technology implementation is automation of processes that require human effort.</p>
          <p>At one end, there are processes that are amenable to a high degree of automation. In such a case, there is a need for
            <strong> ‘Human touch to Digital processes.’</strong>
            NextWealth collects, processes, organizes, and analyses vast amount of data that is ready for automation, thus providing
            <i>Digital Data services</i>
          </p>
          <p>At the other end of the spectrum, some processes are still performed manually. In such a case, there is a need for
            <strong> ‘Digital touch to Human processes.’ </strong>
             NextWealth employs Cloud-based technologies, chatbots, and mobile apps to provide
            <i>Customer Interaction services</i>
             in this respect.
          </p>
        </div>
        <!--</div>
      </div>
    </div>-->
  </div>
  <div class="col-md-4 col-sm-4 col-xs-10">
    <!--<div class="card">
      <div class="listview lv-bordered lv-lg">
        <div class="clearfix lv-header-alt">-->
          <div class="volume">
            <h4>Services</h4>
          </div>
          <div class="card">
            <p>Digitalization is taking the world by storm and changing the way businesses think, act, and function. To address the new needs and demands of the market, companies are redrawing the processes paradigm to involve IT solutions that help them emerge as market leaders.</p>
            <p>At NextWealth, we take on the all-important task of refining your business processes and enhancing workflows for you. We help you meet the ever-changing needs of the market and stay agile – allowing you to take your business to newer frontiers, every single day.</p>
            <p>And this is achieved through our 3-step strategy to redefine business processes:
              <strong> Increase Operational Efficiency ,</strong>
              <strong> Enhance Processes Quality ,</strong>
              <strong> Boost Business Agility .</strong>
            </p>
         </div>
        <!--</div>
      </div>
    </div>
  </div>-->
</div>
