<style>
body {
    background-color: #ffffff;
    color: #000000;
 }

/*img {
    width:79%;
    margin-bottom:-2%;
 }*/

img {
    margin-left: -8px;
    margin-bottom: -17px;
  }

login {
    overflow: hidden;
 }

.login-details {
    margin-top: -650px;
  }

/*label {
    color: #555;    
 }*/
</style>
<div class="login-form-container">
  <div class="background" style="background-image: url(/img/services_banner.png);background-size: cover;background-position: 50% 50%;width:100%;height:860px;margin-top:-165px;"></div>
  <form method="POST" name="userForm"
        ng-submit="$ctrl.onSubmit($ctrl.credentials)"
        novalidate
        ng-class="{error: $ctrl.errorMsg}">
   <div class="login-details">
    <div class="logo-container">
      <img src="/img/nextwealth.png" alt="Nexwealth_Logo">
    </div>

    <div class="form-group error-msg">
      <span >{{$ctrl.errorMsg}}</span>
    </div>

    <div class="form-group" >
      <label>USERNAME</label>
      <input type="text" name="uName" ng-model="$ctrl.credentials.username"
             class="form-control " required />
      <span class="field-error"
            ng-show="userForm.uName.$touched">
        <span ng-show="userForm.uName.$error.required">Username is required.</span>
      </span>
    </div>

    <div class="form-group">
      <label>PASSWORD</label>
      <input type="password" name="uPassword"
             ng-model="$ctrl.credentials.password"
             class="form-control" required />
      <span class="field-error" ng-show="userForm.uPassword.$touched">
        <span ng-show="userForm.uPassword.$error.required">Password is required</span>
      </span>
    </div>

    <div class="form-group">
      <input type="submit"
             ng-disabled="userForm.uName.$error.required || userForm.uPassword.$error.required || $ctrl.viewSubmit"
             class="btn btn-primary"
             value="{{$ctrl.loadingText}}"/>
    </div>
   </div> 
  </form>
</div>
